@model ERPIntegration.Models.ErrorViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Error</title>
</head>
<body>
    <h1>An error occurred.</h1>
    <p>Request ID: @Model.RequestId</p>
    @if (Model.ShowRequestId)
    {
        <p>Please use the request ID when contacting support.</p>
    }
</body>
</html>
